@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

* {
    @apply m-0 p-0;
}


section {
    @apply py-16 px-24;
}


/* NAVBAR */
.logo_name {
    font-family: 'Geologica', sans-serif;
}




/* PRODUCTS CARD */

.products_text p {
    @apply mt-9;
}


.cart_img::after {
    position: absolute;
    content: "Add to cart";
    background-color: rgb(46, 46, 46);
    top: 120%;
    right: 20%;
    width: 220%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.cart_img:hover::after {
    opacity: 100%;
}





/* LOADING STATE */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(25, 116, 253);
    border-radius: 50%;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(30, 146, 255);
    box-shadow: inset 0 0 50px rgb(0, 0, 0, .3);
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.waves::before {
    border-radius: 45%;
    background: rgb(248, 248, 248);
    animation: wave91234 5s linear infinite;
}

.waves::after {
    border-radius: 40%;
    background: rgb(255, 255, 255, .5);
    animation: wave91234 10s linear infinite;
}

@keyframes wave91234 {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}






/* NO ITEMS IN CART */

.loader {
    width: 48px;
    height: 48px;
    /* margin: auto; */
    /* position: relative; */
  }
  
  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }